<br>
<br>
<br>

<div class="center">
     <h1>Counter</h1>

&nbsp;

    <h2>{{countNumber}}</h2>

<div class="row">
    <div class="col-lg-4">
        <button class="col-lg-12 col-12"  (click)="increaseButton()">Increase</button>
    </div>
    &nbsp;
    <div class="col-lg-4">
        <button class="col-lg-12 col-12" (click)="resetButton()">Reset</button>
    </div>
    &nbsp;
    <div class="col-lg-4">
        <button class="col-lg-12 col-12"  (click)="decreaseButton()">Decrease</button>
     </div>
    &nbsp;

</div>


</div>
