<mat-toolbar color="warn">
    <h2></h2>
    <span class="spacer"></span>

<!-- 

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login" routerLinkActive="active">
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink="/signup" routerLinkActive="active">
        <span>Sign Up</span>
      </button>
      <button mat-menu-item routerLink="/counter" routerLinkActive="active">
        <span>Counter</span>
      </button>
    </mat-menu>
    
 -->

 <nav>
  <div class="dropdown">
    <button class="dropbtn">Features</button>
    <div class="dropdown-content">
      <a href="/counter">Counter</a>
    <div class="dropdown-content">
       <a href="/shopping-cart">Cart</a>
       <div class="dropdown-content">
        <a href="/pagination">Pagination</a>
    
    
      </div>
    </div>
   
      
    </div>
  </div>
</nav>






    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
    <a mat-button routerLink="/search" routerLinkActive="active">Search</a>

  
   
    <nav>
      <div class="dropdown">
        <button class="dropbtn">Forms</button>
        <div class="dropdown-content">
          <a href="/registration">Sign Up</a>
          <a href="/login">Sign In</a>
          <a href="/feedback">Feedback</a>
          <a href="/address">Address</a>
    
          
        </div>
      </div>
    </nav>
    





  </mat-toolbar>
  